.langpag{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FBE7;
}
.lang-cont{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--color-pri);
    justify-content: space-evenly;
    color: #F9FBE7;
    border-radius: 10px;
    font-size: 30px;
    padding: 4rem 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.englishtohindi, .hinditoenglish{
    font-size: 20px;
    width: 80%;
    padding: 0.4rem 0rem;
    cursor: pointer;
    border-radius: 7px;
    background-color: #F9FBE7;
    border: 1px solid black;
    margin-left:2rem;
}
.englishtohindi:hover{
    background-color: #bbbdaa;
    
}
.hinditoenglish:hover{
    background-color: #bbbdaa;
}