:root{
    --color-pri:#00478a;
}
.outer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FBE7;
}
.Diffcontent{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--color-pri);
    justify-content: space-evenly;
    color: #F9FBE7;
    border-radius: 10px;
    font-size: 25px;
    padding: 4rem 4rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.difficulty-button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Easy, .Medium, .Hard {
    font-size: 20px;
    width: 100%;
    padding: 0.4rem 0rem;
    cursor: pointer;
    border-radius: 7px;
    background-color: #F9FBE7;
    
}
.Easy:hover{
    background-color: #bbbdaa;
}
.Medium:hover{
    background-color: #bbbdaa;
}
.Hard:hover{
    background-color: #bbbdaa;
}
.difficulty-text{
    display: flex;
    justify-content: center;

}