.loginform{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F9FBE7;
}
.loginreg{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 30rem;
    width: 100%;
    background-color: var(--color-pri);
    color: #fff;
    padding: 4rem 2rem;
    border-radius: 15px;
    /* margin-bottom: 2rem; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.logininput{   
    border-radius: 10px;
    height: 40px;
    width: 100%;
    padding: 1.4rem 1.5rem;
    width: 100%;
    font-size: 18px;
}

.loginsubmit{
    align-self: center;
    border-radius: 20px;
    padding: 0.6rem 3rem;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: rgb(55, 180, 118);
}

.loginsubmit:hover{
    background-color: rgb(136, 180, 180);

}
.reg-link{
    color: rgb(168, 7, 168);
}